body{
    background-image: url(./img/background.jpg);
}

#weapons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
}

.cards{
    width: 20%;
    min-width: 320px;
    border-radius: 10px;
    height: 300px;
    cursor: pointer;
    transition: all .3s ease-in;
    background-color: rgb(43, 42, 42);
    color: white;
    box-shadow: 5px 5px 5px 5px  rgb(95, 96, 87)
}

.cards:hover{
    transform: scale(1.04);
}

.input-group{
    position: relative;
}

#btn{
    position: absolute;
    right: -40px;
}

.form-control:focus{
    box-shadow: none;
    border-right: none;
}

.img, .body{
    text-align: center;
}


.body h5{
    font-weight: bold;
}

.body{
    padding-top: 0;
}

.img{
    padding-top: 1rem;
}

.filtered{
    display: none;
}

.formInput{
    justify-content: space-evenly;
    align-items: baseline;
}

.inputNum{
    width: 2.5rem;
    background-color: antiquewhite;
}

